{{#each controller}}
  <div>
    <div class="row">
      <div class="span2">
        <img {{bindAttr src="image_small"}}></img>
      </div>
      <div class="span4">
        <a {{action previewLink this href=true}}>{{title}}</a>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
{{/each}}
