<div {{bindAttr class="link.containerClass"}}>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/">LinkLib</a>
      <div>
        {{#if link.notSaved}}
          <ul class="nav">
            <li><a>Link captured:</a></li>
            <li><a><strong>{{link.url}}</strong></a></li>
          </ul>
          <div class="btn btn-primary">save</div>
        {{else}}
          {{#if currentUser.loggedIn}}
            <div class="alert alert-success">
              Saved!
            </div>
          {{else}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
</div>
