<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/">LinkLib</a>
      <div class="pull-right">
        {{#if App.CurrentUser.username}}
          <ul class="nav">
            <li>
              <a href="javascript:var script = document.createElement('script');var url = window.location.href;script.src = 'http://m.com:3005/bookmarklet/app.js';document.head.appendChild(script);">Drag this into your bookmark bar -></a>
            </li>
          </ul>
          <a class="btn btn-primary" href="javascript:var script = document.createElement('script');var url = window.location.href;script.src = 'http://m.com:3005/bookmarklet/app.js';document.head.appendChild(script);">Capture</a>
        {{else}}
          <ul class="nav">
            <li>
              {{#linkTo 'login'}}login{{/linkTo}}
            </li>
          </ul>
          {{#linkTo 'signup' class="btn btn-primary"}}signup{{/linkTo}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
