<h1>Signup</h1>
{{#view App.SignupForm}}
  {{view Ember.TextField placeholder="username" valueBinding="App.SignupController.username"}}
  {{view Ember.TextField placeholder="password" type="password" valueBinding="App.SignupController.password"}}
  <input type="submit" class="btn">
{{/view}}
